#taskbar {
	padding: 0;

	border: none;
	border-radius: 0;
	box-shadow: none;

	background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.22), rgba(255, 255, 255, 0.22));

	windowhandle {
		padding: 0;	// Overrides aero.css

		> box {
			padding: 1px 0 0 0;

			border-top: 1px solid rgba(0, 0, 0, 0.70);
			box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.50) inset;
		}
	}

	#start-button {
		min-width: 38px;
		min-height: 38px;

		margin: 0px 11px 0px 8px;
	}

	#clock {
		padding: 2px 6px 0px 6px;

		label {
			color: white;
		}
	}

	#r-box {
		$grad-length: 45px;

		margin: -2px 0 -1px 0;//-$grad-length;
		padding: 0 0 0 $grad-length;

		// box-shadow: 0px 0px 35px 20px rgba(0, 0, 0, 0.27);
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0px, rgba(0, 0, 0, 0.27) $grad-length);

		@mixin segmtbutton {
			border: 1px solid #335A79;
			background: radial-gradient(165.02% 122.79% at 90.00% 67.50%, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.00) 53.13%, rgba(255, 255, 255, 0.28) 69.79%, rgba(255, 255, 255, 0.21) 94.49%), rgba(217, 217, 217, 0.01);
			box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.38) inset;
		}

		@mixin segmtbutton-brighter {
			border: 1px solid #335A79;
			background: radial-gradient(165.02% 122.79% at 90.00% 67.50%, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0.21) 53.13%, rgba(255, 255, 255, 0.56) 69.79%, rgba(255, 255, 255, 0.40) 94.49%), rgba(217, 217, 217, 0.01);
			box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.60) inset;
		}

		button {
			border-radius: 0;
			@include segmtbutton;

			&:hover, &:active {
				@include segmtbutton-brighter;
			}
		}

		button.flat {
			border: 1px solid transparent;
			background: transparent;
			box-shadow: none;

			&:hover {
				@include segmtbutton;
			}
			&:active {
				@include segmtbutton-brighter;
			}
		}
	}

	// border-left: 1px solid #D6E5F5;
	// background: #F9FBFD;
	// box-shadow: 4px 0px 4px -3px #BDD5EE inset;

	#startmenu {
		padding-top: 50px;
		// background: red;

		> contents {
			min-width: 375px;
			min-height: 475px;
			padding: 7px;

			background: linear-gradient(0deg, rgba(255, 255, 255, 0.22), rgba(255, 255, 255, 0.22)), linear-gradient(180deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.66) 43.34%, rgba(0, 0, 0, 0.12) 90.25%);
			border-radius: 7px 7px 0px 0px;
			border: 1px solid rgba(0, 0, 0, 0.58);
			box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.37) inset;

			> box {
				border-spacing: 7px;

				.window-content {
					border-radius: 4px;
					// border: 1px solid rgba(0, 0, 0, 0.66);
					// background: #FFF;
					// box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.33);

					separator {
						background: #d6e5f5;
						margin: 0px 11px;
					}

					.footer {
						padding: 10px 16px;
						background: #EDF1FA;
						box-shadow: 0px 6px 2px -4px #CFD9E3 inset;
					}

					#progs-area {
						padding: 1px;
						border-spacing: 1px;
					}

					listview button {
						// @include soft;						
					}
				}

				> :last-child {
					button > label, actionbutton > button > box > box > label {
						color: white;
						text-shadow: none;//0px 0px 6px hsla(0, 0%, 0, 60%);
					}

					#user-icon-box {
						margin-top: -32px;
					}

					listview {
						row {
							padding-bottom: 8px;
						}
						separator {
							min-height: 2px;
							margin: 3px 0px;
							
							background: transparent;
							box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.13) inset;
						}
					}
				}
			}		
		}	
	}
}